.parallax-section {
  height: 350vh;
  position: relative;
  background:white;
}

.parallax-sticky {
  position: sticky;
  top: 0;
  height: 100vh;
  overflow: hidden;
}
.layer {
  position: absolute;
  inset: 0;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  will-change: transform, opacity;

  transition: transform 0.4s cubic-bezier(0.34, 1.56, 0.64, 1),
  opacity 0.4s ease-out;

}

/* HABBA initially hidden */
.layer-habba {
  opacity: 0;
  transform: translateY(120%);
}

/* VTU initially hidden below, but opacity 1 */
.layer-vtu {
  transform: translateY(120%);
  opacity: 1;
}

.layer-i {
  position: absolute;
  left: 0;
  width: 100%;
  background-image: url('https://gist.githubusercontent.com/mondenoir/5395b6e7d9445c3a0fc82e6ece97268c/raw/bca5c0c6397e38d79b5af9e88f78f0aa7b515b94/img-1.svg');
  background-position: center;
  background-size: cover;
  bottom: 0rem; /* default mobile -bottom-20 */

  /* extra funky 3D feel */
  transform-style: preserve-3d;
  perspective: 1000px;
  opacity: 1;
  transition: 
    transform 1s cubic-bezier(0.68, -0.55, 0.265, 1.55), /* overshoot */
    opacity 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

@media (min-width: 768px) {
  .layer-i {
    bottom: -9rem; /* md:-bottom-28 */
  }
}

